   <div class="container-fluid vh-85">
    <div class="row h-100">
      <div class="col-3 bg-light p-3 border-end">
            <h4>Welcome  {{currentUser}} to Group chat</h4>
        <p style="margin-left: 5px; padding: 10px;">Online Users List</p>
        <p *ngIf="onlineUsers.length==0">No Users Active</p>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let user of onlineUsers" [class.active]="currentUser === user" 
            (click)="selectUser(user)">
            {{ user }}
          </li>
        </ul>
      </div>
      <div class="col-9 d-flex flex-column">
        <div class="chat-body flex-grow-1 overflow-auto p-3">
          <div *ngFor="let message of messages;let i = index" class="mb-2">
            <div class="d-flex justify-content-end" *ngIf="message.sender === currentUser">
            <div class="chat-bubble bg-secondary text-white p-2 rounded parent">
              <strong>You:</strong> {{ message.text }}
              <div class="text-end small text-white-50">
                <small>{{ message.time }}</small> <span *ngIf="message.edited">(edited)</span>
                <!-- <span class="reaction-icon" *ngIf="message.reaction"> {{ message.reaction }} </span> -->
              </div>
              <div>
                <span *ngIf="!message.isEditMode" class="custom" title="Edit Message" (click)="editMessage(i,message)"><i class="fa-solid fa-pen-to-square"></i></span>
                <span *ngIf="!message.isEditMode" class="custom" title="Delete from EveryOne" (click)="deleteMessage(i,message)"><i class="fa-solid fa-trash mx-2"></i></span>
                <span *ngIf="!message.isEditMode" class="custom" title="Delete from Me" (click)="deleteMessageFromMe(i,message)"><i class="fa-solid fa-trash"></i></span>  
                <span class="reaction-icon pull-right" *ngIf="message.reaction"> {{ message.reaction }} </span>  
              </div>
              <div *ngIf="message.isEditMode">
                <input [(ngModel)]="message.text"/>
                <button class="btn btn-sm btn-secondary" title="Update Message" (keyup.enter)="saveEdit(message)" (click)="saveEdit(message)"><i class="fa-solid fa-paper-plane"></i></button>
                <button class="btn btn-sm btn-secondary" title="Cancel"(click)="onClickCancel(message)"><i class="fa-solid fa-xmark"></i></button>
              </div>

          </div>
          </div>
            <div class="d-flex justify-content-start" *ngIf="message.sender !== currentUser && message.text">
              <div class="chat-bubble bg-secondary text-white p-2 rounded" (mouseleave)="RemoveHoverMessage()" (mouseover)="setHoverMessage(message.id)">
                <strong>{{ message.sender }}:</strong> {{ message.text }} 
                <div class="text-end small text-white-50">
                    <small>{{ message.time }}</small>
                    <small *ngIf="message.isEdited">(edited)</small>
                  </div>
                  <div *ngIf="message.reaction">
                    <span class="reaction-icon-sender pull-right"> {{ message.reaction }} </span>
                  </div>
                  <div class="emoji-options" *ngIf="message.id === hoverMessageId">
                    <button (click)="reactToMessage(message.id, '👍')">👍</button>
                    <button (click)="reactToMessage(message.id, '❤️')">❤️</button>
                    <button (click)="reactToMessage(message.id, '😂')">😂</button>
                    <button (click)="reactToMessage(message.id, '😮')">😮</button>
                    <button (click)="reactToMessage(message.id, '😢')">😢</button>
                    <button (click)="reactToMessage(message.id, '👏')">👏</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-footer p-3 bg-light">
            <div class="input-group">
              <input [(ngModel)]="message" type="text" class="form-control" placeholder="Type a message..." (keyup.enter)="sendMessage()" />
              <button class="btn btn-primary send-btn" (click)="sendMessage()">Send</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  