.container-fluid {
    background-color: #e5ddd5;
    height: 85vh !important;
    overflow-y: auto;

  }
    .chat-body {
    background-color: #ece5dd;
    padding: 10px;
    overflow-y: auto;
  }
  .col-3{
    overflow-y: auto;
  }
  
  .chat-bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .chat-bubble.bg-primary {
    background-color: #dcf8c6 !important;
  }
  
  .chat-bubble.bg-secondary {
    background-color: #fff !important;
    border: 1px solid #ddd;
  }
  
  .chat-bubble {
    color: #000 !important;
    position: relative;
    height: fit-content;
  }
  
  .chat-footer {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .input-group input {
    border: none;
  }
  
  .input-group button {
    border: none;
    background-color: #008069;
    color: #fff;
  }
  
  .input-group button:hover {
    background-color: #006655;
  }
  .text-end {
    color: black !important;
  }
  .custom {
    cursor: pointer;
  }
  
  .text-end span{
    color: #000 !important;
  }
  .send-btn{
    margin-left: 25px !important;
  }

  .emoji-options {
    display: none; 
    height: fit-content;
    position: relative;
    width: fit-content;
    bottom: -20px; 
    left:25px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    white-space: nowrap;
  }
  
  .chat-bubble:hover .emoji-options {
    display: block;
  }
  
  .emoji-options button {
    background: none;
    border: none;
    font-size: 20px;
    margin: 0 2px;
    cursor: pointer;
  }
  

  .parent{
    position: relative;
  }

  .reaction-icon{
    position: absolute;
    right: 0px;
    margin-top: 20px;
  }
  .reaction-icon-sender{
    position: absolute;
    right: 0px;
    margin-top: -2px;

  }